<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>31</td>
      <td>QCF1BFZSBI</td>
      <td>2023-05-15</td>
      <td>NSE</td>
      <td>INFY</td>
      <td>regular</td>
      <td>short</td>
      <td>100</td>
      <td>0</td>
      <td>1270</td>
      <td>1200</td>
      <td>0</td>
      <td>mis</td>
      <td>executed</td>
      <td>1210</td>
      <td>106000</td>
      <td>close to target, intraday session over</td>
    </tr>
    <tr>
      <th>0</th>
      <td>34</td>
      <td>QCF1BFZSBI</td>
      <td>2023-05-16</td>
      <td>NSE</td>
      <td>ITC</td>
      <td>cover</td>
      <td>long</td>
      <td>200</td>
      <td>0</td>
      <td>415</td>
      <td>435</td>
      <td>400</td>
      <td>mis</td>
      <td>executed</td>
      <td>390</td>
      <td>101000</td>
      <td>sudden fall</td>
    </tr>
    <tr>
      <th>0</th>
      <td>38</td>
      <td>QCF1BFZSBI</td>
      <td>2023-05-15</td>
      <td>NSE</td>
      <td>HCLTECH</td>
      <td>regular</td>
      <td>long</td>
      <td>50</td>
      <td>0</td>
      <td>1080</td>
      <td>1110</td>
      <td>1070</td>
      <td>mis</td>
      <td>executed</td>
      <td>1110</td>
      <td>102500</td>
      <td>nice</td>
    </tr>
    <tr>
      <th>0</th>
      <td>39</td>
      <td>QCF1BFZSBI</td>
      <td>2023-05-25</td>
      <td>NSE</td>
      <td>SBIN</td>
      <td>cover</td>
      <td>long</td>
      <td>100</td>
      <td>0</td>
      <td>50</td>
      <td>70</td>
      <td>35</td>
      <td>mis</td>
      <td>executed</td>
      <td>72</td>
      <td>104700</td>
      <td>target hit</td>
    </tr>
  </tbody>
</table>