<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index - TEXT</title>
</head>
<body>
    <h3>successfully redirected to index (site-map)</h3>

    <a href="/">
        <button type="button">Go back</button>
        </a>

    <br><br>

    <a href="/"><h4>Home</h4></a>
    <a href="/signup"><h4>Registration</h4></a>
    <a href="/login"><h4>Sign in</h4></a>
    <a href="/about"><h4>About us</h4></a>
</body>
</html>