<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in- TEST</title>
</head>
<body>
    <h3>successfully redirected to user login page</h3>

    <a href="/">
        <button type="button">Go back to landing page</button>
        </a>
    <br>

    <!-- main program- test -->

    <form method="POST" action="login">  
        <label>User Id: </label> <br>  
        <input type="text" name="username" required>
        <br>  
        <label>Password:</label> <br>  
        <input type="password" name="password" required>
        <br><br>  
        <input type="submit" value="Submit">  
    </form> 
</body>
</html>